node_modules
**/node_modules
dist
**/dist
.git
.gitignore
Dockerfile
.dockerignore
.vscode
.idea
.env
.env.*
*.log
pnpm-debug.log*
npm-debug.log*
build_log.txt
build_output.txt
lint_output.txt
ts_errors.txt
tsc_output.txt
tsc_output_2.txt
